#statsWidget {
    background-color: #fff;
    font-size: 88%;
}

#statsWidget select {
	width: 100%
}

#statsWidget table {
	width: 100%;
}

#statsWidget th {
	text-align: center;
}

#statsWidget p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#statsWidget td {
	text-align: right;
	width: 20px;
}

#statsWidget td:first-child { 
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	width: 100px;
}

#statsWidget tbody tr:nth-child(even) {
	background-color: #efefef;
}

.wp-block-gallery.has-nested-images figure.wp-block-image {
    flex-grow: 0;
}

.featured-content .entry-header {
	background-color: rgba(0,0,0,0.8);
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
}

.day {
	width: 10em;
}

.left {
	float: left;
	margin-right: .5em;
}

.label {
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-weight: bold;
}

.entry-title {
    font-size: 20px;
	  font-weight: bold;
    text-transform: none;
}

.sharedaddy {
	margin-top: 2em;
}

table, th, td {
    border: 0px;
}

/*DivTable*/
.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}
